# Discord Bot Token
# Получите токен на https://discord.com/developers/applications
DISCORD_BOT_TOKEN=MTM3NjU0ODM0NzA5NTI4NTg3Mg.GbgBe_.UCY58Ubs5NSlp-mNT9wVQwW-wPlvU4lGeNCKa8

# Дополнительные настройки (опционально)
# LOG_LEVEL=INFO
# DEBUG_MODE=false 